<!-- register-student.component.html -->

<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Register Student</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name">
        <mat-error *ngIf="(myForm.get('name')?.dirty || myForm.get('name')?.touched) && myForm.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="dateOfBirth" placeholder="Date of Birth" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="(myForm.get('dateOfBirth')?.dirty || myForm.get('dateOfBirth')?.touched) && myForm.get('dateOfBirth')?.hasError('required')">Date of Birth is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput formControlName="courseFee" placeholder="Course Fees">
        <mat-error *ngIf="(myForm.get('courseFee')?.dirty || myForm.get('courseFee')?.touched) && myForm.get('courseFee')?.hasError('required')">Course Fees is required</mat-error>
      </mat-form-field>

      <mat-radio-group formControlName="gender">
        <mat-card-title>Gender</mat-card-title>
        <mat-radio-button value="Male">Male</mat-radio-button>
        <mat-radio-button value="Female">Female</mat-radio-button>
      </mat-radio-group>
     </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>

  </mat-card>
</form>
