/* register-student.component.scss */
mat-card-title{
  color: white;
}

/* Style du formulaire */
mat-card {
  max-width: 90%;
  margin: auto;
}


/* Style des champs de saisie */
mat-form-field {
  width: 95%;
  margin-bottom: 15px auto; /* Espace entre les champs de saisie */
  margin-right: 30%;
}

/* Style du bouton de soumission */
mat-card-actions button {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 50%;
  margin-right: 50%;
}

/* Style des messages d'erreur */
mat-error {
  color: red; /* Couleur du texte pour les messages d'erreur */
}

