<!-- students.component.html -->

<app-register-student (addStudent)="addStudent($event)"></app-register-student>

<div class="students-container">
  <table>
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>DOB</th>
        <th>Gender</th>
        <th>Profile Picture</th>
        <th>Course fee</th>
        <th>Delete student</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of STUDENTS" class="student-info">
        <td>{{ student.id | uppercase }}</td>
        <td>{{ student | namePrefix }}</td>
        <td>{{ student.dateOfBirth | date:'dd/MM/yyyy' }}</td>
        <td>{{ student.gender | lowercase }}</td>
        <td> <img [src]="student.picture" alt="Profile Picture" style="width: 50px; height: 50px;"></td>
        <td>{{ student.courseFee }} $</td>
        <td>
          <button (click)="onDeleteStudent(student.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
