/* students.component.scss */
/* students.component.scss */

.students-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid;
  border-collapse: separate;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border:solid;
}

.even-row {
  background-color: #f2f2f2;
}
